# to add a file: git add -f

# ignore everything in the home directory
# files and folders starting with ! are NOT ignored
/*

!/.local
!/.config

!/.vimrc
!/.tmux.conf
!/.bashrc

/.local/share
/.config/onedrive
