charliermarsh.ruff
fill-labs.dependi
github.copilot
github.copilot-chat
mads-hartmann.bash-ide-vscode
mechatroner.rainbow-csv
mhutchie.git-graph
mk12.better-git-line-blame
ms-azuretools.vscode-docker
ms-dotnettools.csdevkit
ms-dotnettools.csharp
ms-dotnettools.vscode-dotnet-runtime
ms-dotnettools.vscodeintellicode-csharp
ms-python.debugpy
ms-python.python
ms-python.vscode-pylance
ms-vscode.copilot-mermaid-diagram
ms-vscode.hexeditor
ms-vscode.powershell
rust-lang.rust-analyzer
tamasfe.even-better-toml
tauri-apps.tauri-vscode
vadimcn.vscode-lldb
